---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import PDFModal from '../components/PDFModal.astro';

const courtainImageModules = import.meta.glob<{ default: ImageMetadata }>('../assets/products/courtain/*.png', { eager: true });
const blindImageModules = import.meta.glob<{ default: ImageMetadata }>('../assets/products/blind/*.png', { eager: true });
const courtainPdfModules = import.meta.glob<{ default: string }>('../assets/products/courtain/*.pdf', { eager: true });
const blindPdfModules = import.meta.glob<{ default: string }>('../assets/products/blind/*.pdf', { eager: true });

const descriptions: Record<string, string> = {
  'PanelJapones': 'Separador de ambientes compuesto por paneles de tela rectangulares que se deslizan horizontalmente para abrir o cerrar.',
  'Enrollable': 'Cubierta para ventanas que se enrolla sobre un tubo superior para abrirse o cerrarse, controlando la luz y la privacidad.',
  'SheerScreen': 'Diseñada para ofrecer un equilibrio perfecto entre la entrada de luz natural, la visibilidad exterior y la protección solar.',
  'BlackOut': 'Cortina que se utiliza para ocultar la luz exterior y proporcionar un ambiente oscuro y calido.',
  'TelaPesada': 'Cortina que tiene un diseño decorativo y elegante, con una tela pesada que se desliza horizontalmente para abrir o cerrar.',
  'Velo': 'Cortina que se utilizan para dar elegancia a los espacios, con un diseño minimalista y atractivo.',
}

const courtainProducts = Object.keys(courtainImageModules)
  .map(imagePath => {
    const fileName = imagePath.split('/').pop()?.replace('.png', '');
    if (!fileName) {
      return null;
    }

    const pdfPath = `../assets/products/courtain/${fileName}.pdf`;
    const pdfModule = courtainPdfModules[pdfPath];
    const imageModule = courtainImageModules[imagePath];

    if (!imageModule) {
      return null;
    }

    return {
      name: fileName,
      image: imageModule.default,
      pdf: pdfModule ? pdfModule.default : null,
    };
  })
  .filter((p): p is NonNullable<typeof p> => p !== null);

const blindProducts = Object.keys(blindImageModules)
    .map(imagePath => {
        const fileName = imagePath.split('/').pop()?.replace('.png', '');
        if (!fileName) {
            return null;
        }
        const pdfPath = `../assets/products/blind/${fileName}.pdf`;
        const pdfModule = blindPdfModules[pdfPath];
        const imageModule = blindImageModules[imagePath];

        if (!imageModule) {
            return null;
        }

        return {
            name: fileName,
            image: imageModule.default,
            pdf: pdfModule ? pdfModule.default : null,
        };
    })
    .filter((p): p is NonNullable<typeof p> => p !== null);

---

<Layout>
  <Header />
  <main class="container mx-auto px-6 py-8">
    <h1 class="text-4xl font-bold text-center mt-15 text-olive-dark mb-12">Persianas y Cortinas</h1>
    <h2 class="text-2xl font-bold text-center mt-3 text-olive-dark mb-12">Persianas</h2>
    <div class="flex flex-wrap justify-center gap-8">
      {blindProducts.map(product => (
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:-translate-y-2 transition-transform duration-300 cursor-pointer w-full max-w-sm" data-pdf={product.pdf}>
          <Image src={product.image} alt={product.name} class="w-full h-80 object-cover"/>
          <div class="p-4">
            <h3 class="text-lg font-bold text-olive-dark text-center">{product.name}</h3>
            <p>{descriptions[product.name]}</p>
          </div>
        </div>
      ))}
    </div>
    <h2 class="text-2xl font-bold text-center text-olive-dark mb-12 mt-20">Cortinas</h2>
    <div class="flex flex-wrap justify-center gap-8">
      {courtainProducts.map(product => (
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:-translate-y-2 transition-transform duration-300 cursor-pointer w-full max-w-sm" data-pdf={product.pdf}>
          <Image src={product.image} alt={product.name} class="w-full h-80 object-cover"/>
          <div class="p-4">
            <h3 class="text-lg font-bold text-olive-dark text-center">{product.name}</h3>
            <p>{descriptions[product.name]}</p>
          </div>
        </div>
      ))}
    </div>
  </main>
  <Footer />
  <PDFModal />
</Layout>
